header{
    background-color: #ccc;
}
header .navbar-light .navbar-nav .nav-link
{
    color: #000;
    font-weight: 600px;
}
header .navbar-nav .dropdown-menu{
    background-color: #ccc;
}